<div id="create-donor-request-form">
  <form #createDonorRequestForm="ngForm">

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="emailInput">Your Email</label>
          <input type="email" class="form-control" id="emailInput" placeholder="Enter email"
                 name="emailInputName" #emailInput="ngModel" [(ngModel)]="data.email" required email autofocus>

          <div class="form-control-feedback">
          <span class="text-danger align-middle" *ngIf="emailInput.errors && $submitted">
            <p [hidden]="!emailInput.errors.required" class="validation-error">
              <i class="fa fa-close"></i> This field is required
            </p>
            <p [hidden]="!emailInput.errors.email" class="validation-error">
              <i class="fa fa-close"></i> This field should contain valid email address
            </p>
          </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="birthInput">Birth Date</label>
          <input type="date" class="form-control" id="birthInput" placeholder="Enter your birthday"
                 name="birthInputName" #birthInput="ngModel" [(ngModel)]="data.birthDate" required>

          <div class="form-control-feedback">
          <span class="text-danger align-middle" *ngIf="birthInput.errors && $submitted">
            <p [hidden]="!birthInput.errors.required" class="validation-error">
              <i class="fa fa-close"></i> This field is required
            </p>
          </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="firstNameInput">First Name</label>
          <input type="text" class="form-control" id="firstNameInput" placeholder="Enter first name"
                 name="firstNameInputName" #firstNameInput="ngModel" [(ngModel)]="data.firstName" required>

          <div class="form-control-feedback">
          <span class="text-danger align-middle" *ngIf="firstNameInput.errors && $submitted">
            <p [hidden]="!firstNameInput.errors.required" class="validation-error">
              <i class="fa fa-close"></i> This field is required
            </p>
          </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="lastNameInput">Last Name</label>
          <input type="text" class="form-control" id="lastNameInput" placeholder="Enter last name"
                 name="lastNameInputName" #lastNameInput="ngModel" [(ngModel)]="data.secondName" required>

          <div class="form-control-feedback">
          <span class="text-danger align-middle" *ngIf="lastNameInput.errors && $submitted">
            <p [hidden]="!lastNameInput.errors.required" class="validation-error">
              <i class="fa fa-close"></i> This field is required
            </p>
          </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="countryInput">Country</label>
          <input type="text" class="form-control" id="countryInput" placeholder="Enter country"
                 name="countryInputName" #countryInput="ngModel" [(ngModel)]="data.country" required>

          <div class="form-control-feedback">
          <span class="text-danger align-middle" *ngIf="countryInput.errors && $submitted">
            <p [hidden]="!countryInput.errors.required" class="validation-error">
              <i class="fa fa-close"></i> This field is required
            </p>
          </span>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="cityInput">City</label>
          <input type="text" class="form-control" id="cityInput" placeholder="Enter city"
                 name="cityInputName" #cityInput="ngModel" [(ngModel)]="data.city" required>

          <div class="form-control-feedback">
          <span class="text-danger align-middle" *ngIf="cityInput.errors && $submitted">
            <p [hidden]="!cityInput.errors.required" class="validation-error">
              <i class="fa fa-close"></i> This field is required
            </p>
          </span>
          </div>
        </div>


      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="addressLine1Input">Address Line 1</label>
          <input type="text" class="form-control" id="addressLine1Input" placeholder="Enter address line 1"
                 name="addressLine1InputName" #addressLine1Input="ngModel" [(ngModel)]="data.addressLine1" required>

          <div class="form-control-feedback">
          <span class="text-danger align-middle" *ngIf="addressLine1Input.errors && $submitted">
            <p [hidden]="!addressLine1Input.errors.required" class="validation-error">
              <i class="fa fa-close"></i> This field is required
            </p>
          </span>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="addressLine2Input">Address Line 2</label>
          <input type="text" class="form-control" id="addressLine2Input" placeholder="Enter address line 2"
                 name="addressLine2InputName" #addressLine2Input="ngModel" [(ngModel)]="data.addressLine2">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="zipCodeInput">Zip Code</label>
          <input type="text" class="form-control" id="zipCodeInput" placeholder="Enter zip"
                 name="zipCodeInputName" #zipCodeInput="ngModel" [(ngModel)]="data.zipCode">
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="phoneNumberInput">Phone Number</label>
          <input type="text" class="form-control" id="phoneNumberInput" placeholder="Enter phone number"
                 name="phoneNumberInputName" #phoneNumberInput="ngModel" [(ngModel)]="data.phoneNumber" required>

          <div class="form-control-feedback">
          <span class="text-danger align-middle" *ngIf="phoneNumberInput.errors && $submitted">
            <p [hidden]="!phoneNumberInput.errors.required" class="validation-error">
              <i class="fa fa-close"></i> This field is required
            </p>
          </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="donorOrganInput">Donor Organ</label>
          <select class="form-control" id="donorOrganInput" name="donorOrganInputName"
                  #donorOrganInput="ngModel" [(ngModel)]="data.organInfoId" required>
            <option *ngFor="let organInfo of organInfos" value="{{organInfo.id}}">{{organInfo.name}}</option>
          </select>

          <div class="form-control-feedback">
          <span class="text-danger align-middle" *ngIf="donorOrganInput.errors && $submitted">
            <p [hidden]="!donorOrganInput.errors.required" class="validation-error">
              <i class="fa fa-close"></i> This field is required
            </p>
          </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="messageTextarea">Additional Message</label>
          <textarea class="form-control" id="messageTextarea" placeholder="Enter message"
                    name="messageTextareaName" #messageTextarea="ngModel" [(ngModel)]="data.message"></textarea>
        </div>
      </div>
    </div>
  </form>

  <button class="btn btn-success" (click)="sumbitForm()">Submit form</button>
</div>
