<div id="patient-request-details-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="../../../../../assets/img/app/recipientDetails.png" width="150" height="150"/>
        <br/><br/><br/>
      </div>
    </div>

    <h3>Recipient Request Details</h3>
    <hr/>
    <h5>Person: {{patientRequestDetailsModel.patientInfo?.firstName}} {{patientRequestDetailsModel.patientInfo?.secondName}}</h5>
    <h5>Email: {{patientRequestDetailsModel.patientInfo?.email}}</h5>
    <h5>Phone: {{patientRequestDetailsModel.patientInfo?.phoneNumber}}</h5>
    <h5 *ngIf="patientRequestDetailsModel.patientInfo?.birthDate">Birth date:
      {{getBirthDate(patientRequestDetailsModel.patientInfo?.birthDate)}}</h5>
    <h5>Country: {{patientRequestDetailsModel.patientInfo?.country}}</h5>
    <h5>City: {{patientRequestDetailsModel.patientInfo?.city}}</h5>
    <h5>Address: {{patientRequestDetailsModel.patientInfo?.addressLine1}}</h5>
    <h5 *ngIf="patientRequestDetailsModel.patientInfo?.zipCode">Zip: {{patientRequestDetailsModel.patientInfo?.zipCode}}</h5>
    <hr/>
    <div class="patientRequestDetailsModelInfo">

      <p><b>Message: </b> {{patientRequestDetailsModel.message != null ? patientRequestDetailsModel.message : "no message"}}</p>
      <p><b>Organ: </b> {{patientRequestDetailsModel.organInfo?.name}}</p>
      <p><b>Status: </b> {{getDonorPatientStatusString(patientRequestDetailsModel.status)}}</p>

      <p>
        <b>Donor found: </b>
        <i *ngIf="patientRequestDetailsModel && patientRequestDetailsModel.donorRequest" class="fa fa-check"
           style="font-size:30px;color:green"></i>
        <i *ngIf="!patientRequestDetailsModel || !patientRequestDetailsModel.donorRequest" class="fa fa-times"
           style="font-size:30px;color:red"></i>
      </p>

      <p *ngIf="patientRequestDetailsModel && patientRequestDetailsModel.donorRequest">
        <details>
          <summary><b>Donor: </b>{{patientRequestDetailsModel.donorRequest.donorInfo?.firstName}}
            {{patientRequestDetailsModel.donorRequest.donorInfo?.secondName}}
          </summary>
      <p>
        <small><b>Status: </b>{{getDonorRequestStatusString(patientRequestDetailsModel.donorRequest.status)}}</small>


      <p *ngIf="organDeliverySnapshots && organDeliverySnapshots.length && patientRequestDetails && patientRequestDetails.donorRequest">
        <details *ngFor="let organDeliverySnapshot of organDeliverySnapshots">
          <summary><b>Organ tracking information </b>
          </summary>
          <p>
            <small><b>Altitude: </b>{{organDeliverySnapshot.altitude}}</small>
          </p>
          <p>
            <small><b>Longitude: </b>{{organDeliverySnapshot.longitude}}</small>
          </p>
          <p>
            <small><b>Time: </b>{{organDeliverySnapshot.time | date:'HH:mm:ss'}}</small>
          </p>
          <p>
            <small><b>Temperature: </b>{{organDeliverySnapshot.temperature}}</small>
          </p>
          <p>
            <small><b>Humidity: </b>{{organDeliverySnapshot.humidity}}</small>
          </p>
        </details>

      </p>
      <p>
        <small><b>Email: </b>{{patientRequestDetailsModel.donorRequest.donorInfo?.email}}</small>
      </p>
      <p>
        <small><b>Phone: </b>{{patientRequestDetailsModel.donorRequest.donorInfo?.phoneNumber}}</small>
      </p>
      <p>
        <small *ngIf="patientRequestDetailsModel.donorRequest.donorInfo?.birthDate"><b>Birth date: </b>
          {{getBirthDate(patientRequestDetailsModel.donorRequest.donorInfo?.birthDate)}}
        </small>
      </p>
      <p>
        <small><b>Country: </b>{{patientRequestDetailsModel.donorRequest.donorInfo?.country}}</small>
      </p>
      <p>
        <small><b>City: </b>{{patientRequestDetailsModel.donorRequest.donorInfo?.city}}</small>
      </p>
      <p>
        <small><b>Address: </b>{{patientRequestDetailsModel.donorRequest.donorInfo?.addressLine1}}</small>
      </p>
      <p>
        <small *ngIf="patientRequestDetailsModel.donorRequest.donorInfo?.zipCode"><b>Zip: </b>{{patientRequestDetailsModel.patientInfo?.zipCode}}
        </small>
      </p>
      </details>
      </p>
      <br>
    </div>
    <hr/>
    <img *ngIf="patientRequestDetailsModel && patientRequestDetailsModel.donorRequest"
         src="../../../../../assets/img/app/map.png"/>
    <br/>
    <hr/>
  </div>
</div>
