<ng-template #modalContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Set request final status</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancelClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form #setRequestFinalStatus="ngForm">

      <div class="form-group">
          Organ retrieving was:
          <button class="btn btn-success" (click)="setSubmitted(true) && setRequestFinalStatus.valid && setRequestAsSucceded()">Successful</button>
          <button class="btn btn-danger" (click)="setSubmitted(true) && setRequestFinalStatus.valid && setRequestAsFailed()">Failed</button>
        </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="cancelClose()">Cancel</button>
  </div>
</ng-template>
