<div bsModal #modal="bs-modal"
     class="modal fade"
     id="confirmationModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p class="confirmation-question">{{confirmationQuestion}}</p>
        <div class="row confirm-buttons">
          <div class="col-md-6 confirm-button-div accept">
            <button class="accept-button" (click)="setResult(true)">Yes</button>
          </div>
          <div class="col-md-6 confirm-button-div decline">
            <button class="decline-button" (click)="setResult(false)">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
