@import '../../../../styles/sass/conf/conf';

.logo-box {
  height: 70px;
  background: #42579A url('assets/logo.png') no-repeat;
  background-size: contain;
  cursor: pointer;
}

.menu-collapsed {
  .logo-box {
  }
}
