<div id="donor-request-details-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="../../../../../assets/img/app/donorDetails.png" width="150" height="150"/>
        <br/><br/><br/>
      </div>
    </div>

    <h3>Donor Request Details</h3>
    <hr/>
    <h5>Person: {{donorRequestDetails.donorInfo?.firstName}} {{donorRequestDetails.donorInfo?.secondName}}</h5>
    <h5>Email: {{donorRequestDetails.donorInfo?.email}}</h5>
    <h5>Phone: {{donorRequestDetails.donorInfo?.phoneNumber}}</h5>
    <h5 *ngIf="donorRequestDetails.donorInfo?.birthDate">Birth date:
      {{getBirthDate(donorRequestDetails.donorInfo?.birthDate)}}</h5>
    <h5>Country: {{donorRequestDetails.donorInfo?.country}}</h5>
    <h5>City: {{donorRequestDetails.donorInfo?.city}}</h5>
    <h5>Address: {{donorRequestDetails.donorInfo?.addressLine1}}</h5>
    <h5 *ngIf="donorRequestDetails.donorInfo?.zipCode">Zip: {{donorRequestDetails.donorInfo?.zipCode}}</h5>
    <hr/>
    <div class="donorRequestDetailsInfo">
      <p><b>Message:</b> {{donorRequestDetails.message != null ? donorRequestDetails.message : "no message"}}</p>
      <p><b>Organ:</b> {{donorRequestDetails.organInfo?.name}}</p>
      <p><b>Status:</b> {{getDonorRequestStatusString(donorRequestDetails.status)}}</p>

      <p><b>Exams tries:</b> {{donorRequestDetails?.medicalExamsCount}}</p>

      <p *ngIf="donorRequestDetails && donorRequestDetails.medicalExamClinic">
        <details>
          <summary><b>Clinic: </b>{{donorRequestDetails.medicalExamClinic.name}}</summary>
          <p>
            <small><b>Country: </b>{{donorRequestDetails.medicalExamClinic.country}}</small>
          </p>
          <p>
            <small><b>City: </b>{{donorRequestDetails.medicalExamClinic.city}}</small>
          </p>
          <p>
            <small><b>Address: </b>{{donorRequestDetails.medicalExamClinic.addressLine1}}</small>
          </p>
          <p>
            <small><b>Contact Phone: </b>{{donorRequestDetails.medicalExamClinic.contactPhone}}</small>
          </p>
        </details>
      </p>

      <p>
        <b>Patient found:</b>
        <i *ngIf="donorRequestDetails && donorRequestDetails.patientRequest" class="fa fa-check"
           style="font-size:30px;color:green"></i>
        <i *ngIf="!donorRequestDetails || !donorRequestDetails.patientRequest" class="fa fa-times"
           style="font-size:30px;color:red"></i>
      </p>

      <p *ngIf="donorRequestDetails && donorRequestDetails.patientRequest">
        <details>
          <summary><b>Patient: </b>{{donorRequestDetails.patientRequest.patientInfo?.firstName}}
            {{donorRequestDetails.patientRequest.patientInfo?.secondName}}
          </summary>
          <p>
            <small><b>Status: </b>{{getPatientRequestStatusString(donorRequestDetails.patientRequest.status)}}</small>
          </p>
          <p>
            <small><b>Email: </b>{{donorRequestDetails.patientRequest.patientInfo?.email}}</small>
          </p>
          <p>
            <small><b>Phone: </b>{{donorRequestDetails.patientRequest.patientInfo?.phoneNumber}}</small>
          </p>
          <p>
            <small *ngIf="donorRequestDetails.patientRequest.patientInfo?.birthDate"><b>Birth date: </b>
              {{getBirthDate(donorRequestDetails.patientRequest.patientInfo?.birthDate)}}
            </small>
          </p>
          <p>
            <small><b>Country: </b>{{donorRequestDetails.patientRequest.patientInfo?.country}}</small>
          </p>
          <p>
            <small><b>City: </b>{{donorRequestDetails.patientRequest.patientInfo?.city}}</small>
          </p>
          <p>
            <small><b>Address: </b>{{donorRequestDetails.patientRequest.patientInfo?.addressLine1}}</small>
          </p>
          <p>
            <small *ngIf="donorRequestDetails.patientRequest.patientInfo?.zipCode"><b>Zip: </b>{{donorRequestDetails.patientRequest.patientInfo?.zipCode}}
            </small>
          </p>
        </details>
      </p>
      <br>
    </div>
    <br/><hr/>
    <img *ngIf="donorRequestDetails && donorRequestDetails.patientRequest" src="../../../../../assets/img/app/map.png"/>
    <br/><hr/>
    <div *ngIf="getScheduleMedicalExamButtonVisibility()">
      <button class="btn btn-success" (click)="scheduleMedicalExam()">Schedule Medical Exam</button>
    </div>

    <div *ngIf="getEnterMedicalExamResultsButtonVisibility()">
      <button class="btn btn-success" (click)="enterMedicalExamResult()">Enter Medical Exam Results</button>
    </div>

    <div *ngIf="getLinkingPatientRequestButtonVisibility()">
      <button class="btn btn-success" (click)="linkPatientRequest()">Link Patient Request</button>
    </div>

    <div *ngIf="getScheduleOrganRetrievingTimeButtonVisibility()">
      <button class="btn btn-success" (click)="scheduleOrganRetrievingTime()">Confirm Organ Retrieving</button>
    </div>

    <div *ngIf="getFinalRequestStatusButtonsVisibility()">
      <button class="btn btn-success" (click)="setFinalRequestStatus()">Set Final Results</button>
    </div>
  </div>

  <app-schedule-exam-modal #scheduleExamModal
                           [clinics]="clinics"
                           [donorRequestId]="donorRequestId">
  </app-schedule-exam-modal>
  <app-enter-medical-exam-result-modal #enterMedicalExamResultModal
                                       [donorRequestId]="donorRequestId">
  </app-enter-medical-exam-result-modal>
  <app-link-patient-request-modal #linkPatientRequestModal
                                  [organInfoId]="donorRequestDetails?.organInfoId"
                                  [donorRequestId]="donorRequestId">
  </app-link-patient-request-modal>
  <app-schedule-organ-retrieving-modal #scheduleOrganRetrievingModal
                                       [donorRequestId]="donorRequestId">
  </app-schedule-organ-retrieving-modal>
  <app-set-request-final-status-modal #setRequestFinalStatusModal
                                      [donorRequestId]="donorRequestId">
  </app-set-request-final-status-modal>
</div>
